
<footer th:fragment="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img th:src="@{/img/logo.jpg}" alt="Logo web" class="footer-logo">
      </div>
      <div class="col-md-3">
        <i class="fas fa-map-marker-alt"></i>
        <span>C/ Meson de Paredes 150 </span>
      </div>
      <div class="col-md-3">
        <i class="fas fa-phone"></i>
        <span>+34 654 45 67 89</span>
      </div>
      <div class="col-md-3">
        <i class="far fa-clock"></i>
        <span>Lunes-Domingo: 8:00 - 00:00</span>
      </div>
    </div>
  </div>
</footer>
