<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::encabezado(~{::title}, ~{::link})}">
  <title>Inicio</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<nav th:replace="~{fragments/barraMenu::barraMenu}"></nav>

<div class="background-image">
  <div class="container">
    <div class="content-box">
      <div class="text-box">
        <div class="info-box">
          <h1 class="orange-yellow">DISH PLANET</h1>
          <h3 class="orange-yellow">Restaurante con la mejor calidad</h3>
        </div>
        <div class="image-slider">
          <img th:src="@{/img/inicio1.jpg}" alt="Imagen 1">
          <img th:src="@{/img/inicio2.jpg}" alt="Imagen 2">
          <img th:src="@{/img/inicio3.jpg}" alt="Imagen 3">
          <img th:src="@{/img/inicio4.jpg}" alt="Imagen 4">
        </div>
      </div>
      <div class="animation-box">

      </div>

    </div>
  </div>
  <h2 class="orange-yellow">Menús Más Pedidos</h2>
  <div class="menus-container">
    <div th:each="menu : ${topMenus}" class="menu-box animate__animated animate__fadeIn" >
      <h3 th:text="${menu.nombre}"></h3>
      <p><strong>Entrante:</strong> <span th:text="${menu.entrante}"></span></p>
      <p><strong>Principal:</strong> <span th:text="${menu.principal}"></span></p>
      <p><strong>Postre:</strong> <span th:text="${menu.postre}"></span></p>
      <p><strong>Bebida:</strong> <span th:text="${menu.bebida}"></span></p>
      <p><strong>Precio:</strong> <span th:text="${menu.precio}"></span></p>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.12/lottie.min.js"></script>
<script th:src="@{/js/index.js}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
</body>
</html>
