<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::encabezado(~{::title}, ~{::link})}">
  <meta charset="UTF-8">
  <title>Nuevo Menú</title>
  <link rel="stylesheet" th:href="@{/css/nuevoMenu.css}">
</head>
<body>
<nav th:replace="~{fragments/barraMenu::barraMenu}"></nav>
<div class="container">
  <div class="lottie-animation left">
    <div id="left-animation"></div>
  </div>
  <div class="form-container">
    <h1>Nuevo Plato</h1>
    <form action="#" th:action="@{/plato/guardar}" method="post" enctype="multipart/form-data" id="platoForm">
      <label>Nombre:</label>
      <input type="text" name="nombre" id="nombre" required>
      <span class="error" id="errorNombre"></span><br>

      <label>Descripción:</label>
      <textarea name="descripcion" id="descripcion" required></textarea>
      <span class="error" id="errorDescripcion"></span><br>

      <label>Precio:</label>
      <input type="number" name="precio" id="precio" step="0.01" required>
      <span class="error" id="errorPrecio"></span><br>

      <label>Ingredientes:</label>
      <textarea name="ingredientes" id="ingredientes" required></textarea>
      <span class="error" id="errorIngredientes"></span><br>

      <label>Tipo:</label>
      <input type="text" name="tipo" id="tipo" required>
      <span class="error" id="errorTipo"></span><br>

      <label>Imagen:</label>
      <input type="file" name="imagen" id="imagen" accept="image/*" required>
      <span class="error" id="errorImagen"></span><br>

      <button type="submit">Guardar</button>
    </form>
  </div>
  <div class="lottie-animation right">
    <div id="right-animation"></div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.11/lottie_svg.min.js"></script>
<script th:src="@{/js/nuevoMenuAnimation.js}"></script>
<script th:src="@{/js/validaciones.js}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</body>
</html>